**/bin
**/target
**/.settings
**/.classpath
**/.project
**/pom.xml.releaseBackup
**/.pmd
**/logs
**/build

**\\.settings
**\\bin
**\\target
**\\.classpath
**\\.project
**\\pom.xml.releaseBackup
**\\.pmd
**\\logs
**\\build

**\\.directory

.idea
.settings
target
.project
pom.xml.releaseBackup
release.properties
.pmd
*.iml

*.log
*.conflict

